
  
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
img {
    border-radius: 15%;
    width: 200px;
    height: 200px;
}

body{
    height: 100vh;
    background: linear-gradient( #000000,#c7c6c5 50% );
    background-size: 100%;
    font-family: 'Righteous', cursive;
}
.d20 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 50%;
    cursor: pointer;
    box-shadow: 30px 15px 550px rgb(50, 50, 50);
    background:linear-gradient( #272727f8 50%,#6200ff98);
    color: rgb(211, 210, 210);
    padding: 100px;
    width: 110vw;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 100px;
    border: none;
    letter-spacing: 4px;
    font-weight: bolder;
    
    
    
}
h2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top:-15%;
    left: 50%;
    cursor: pointer;
    box-shadow:  0px 30px 30px rgb(49, 49, 49);
    background-color: #e7d2bd;
    color: rgb(105, 104, 104);
    padding: 25px;
    width: 300px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 4px;
    border: .5px solid black

}
.p1 {
    width: 500px;
    padding:50px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    background-color: rgb(218, 216, 216);
    box-shadow: 0 15px 35px rgba(50, 50, 50, 0.432);
    border-radius:2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p2 {
    width: 500px;
    padding:50px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: white;
    box-shadow: 0 15px 35px rgba(50, 50, 50, 0.2);
    border-radius:2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}
.dice-wrapper {
    width: 90;
    display: flex;
    justify-content: space-around ;
}
p {
    font-size: 25px;
    margin: 25px 2px;
    font-weight: 500;
    letter-spacing: .5px;
}
button {
   
    background-color: #eedfd1 ;
    border: .2px solid black;
    outline: none;
    padding: 15px 0;
    width: 200px;
    color: #9c9a9a;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Righteous', cursive;
    font-size: large;

}
.reset-btn {
    background-color: #eedfd1 ;
  
    outline: none;
    padding: 15px 0;
    width: 150px;
    color: #9c9a9a;
    letter-spacing: 1px;
    border-radius: 5px;
    margin: 10px;

}
.rollDice{
    animation: rollDice 2s infinite;
}

@keyframes rollDice{
    0%{
        transform: rotate(720deg);
    }
    100%{
        transform: rotate(-720deg);
    }
}
