@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
img {
    border-radius: 15%;
    width: 200px;
    height: 200px;
}

body{
    height: 100vh;
    background: linear-gradient( #000000,#ece9e6 50% );
    background-size: 100%;
    font-family: 'Righteous', cursive;
}
.players {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50, -50%);
}

    .addPlayer {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    cursor: pointer;
    box-shadow: 0 15px 35px rgba(50, 50, 50, 0.2);
    background-color: #e7d2bd;
    color: rgb(109, 107, 107);
    padding: 25px;
    width: 300px;
    text-transform: uppercase;
}
.p1 {
    width: 500px;
    padding:45px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    background-color: white;
    box-shadow: 0 15px 35px rgba(50, 50, 50, 0.2);
    border-radius:2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.dice-wrapper {
    width: 90;
    display: flex;
    justify-content: space-around ;
}
p {
    font-size: 16px;
    margin: 25px 2px;
    font-weight: 500;
    letter-spacing: .5px;
}

button {
   
    background-color: #eedfd1 ;
    border: none;
    outline: none;
    padding: 15px 0;
    width: 200px;
    color: #9c9a9a;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Righteous', cursive;
    font-size: large;
}
.reset-btn {
    background-color: #eedfd1 ;
    border: none;
    outline: none;
    padding: 15px 0;
    width: 150px;
    color: #9c9a9a;
    letter-spacing: 1px;
    border-radius: 5px;
    margin: 10px;

}


.rollDice{
    animation: rollDice 2s infinite;
}

@keyframes rollDice{
    0%{
        transform: rotate(720deg);
    }
    100%{
        transform: rotate(-720deg);
    }
}